:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--green);
  background-color: var(--lightpink);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Spring 1 */
  --darkgreen: #495D63;
  --green: #629677;
  --lightgreen: #98B6B1;
  --purple: #D7BCC8;
  --pink: #FAC8CD;

  /* Spring 2 */
  --blue: #7bdff2;
  --lightblue: #b2f7ef;
  --lightpink: #eff7f6;
  --pink2: #f7d6e0;
  --darkpink: #f2b5d4;
}

body {
  margin: 0;
  padding: 0;
}
