:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--green);
  background-color: var(--pyellow);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Spring 1 */
  --darkgreen: #495D63;
  --green: #629677;
  --lightgreen: #98B6B1;
  --purple: #D7BCC8;
  --pink: #FAC8CD;

  /* Spring 2 */
  --blue: #7bdff2;
  --lightblue: #b2f7ef;
  --lightpink: #eff7f6;
  --pink2: #f7d6e0;
  --darkpink: #f2b5d4;

  /* Spring 3 */
  --ppink: #ffb3ba;
  --porange: #ffdfba;
  --pyellow: #fffbba;
  --pgreen: #baffc9;
  --pblue: #bae1ff;
}

body {
  margin: 0;
  padding: 0;
}

.bubbles {
  position: relative;
  display: flex;
}

.bubbles span {
  z-index: 1;
  position: relative;
  width: 30px;
  height: 30px;
  background: var(--ppink);
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px var(--ppink),
  0 0 50x var(--ppink),
  0 0 100px var(--ppink);
  animation: animate 15s linear infinite;
  animation-duration: calc(120s / var(--i));
}
.bubbles span:nth-child(even) {
  background: var(--pgreen);
  box-shadow: 0 0 0 10px #ff2d75,
  0 0 50x #ff2d75,
  0 0 100px #ff2d75;
}

 @keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10px) scale(1);
  }
 }